name: "build nix flake"
on:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v20
      with:
       cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
       github_access_token: ${{ secrets.ACCESS_TOKEN }}
    - run: nix build .#unsigned-int32
    - run: nix build .#unsigned-int64
