name: "validate"
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v20
      with:
        github_access_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
    - run: nix build
    - run: nix flake check
